{% extends "base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block body_content %}

{% if messages %}
    {% for m in messages %}
        <div class="container">
            <div class="alert alert-dismissible fade show border border-{{m.tags}}-subtle bg-{{m.tags}}-subtle" role="alert">
                <p class="m-0 px-3">{{ m }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}

<div class="mt-5">
    <p> Hello <strong>{{ user.username }}</strong>. Welcome to Yet another ToDo</p>
    
    
    <form action="{% url 'create_todo' %}" method="post">
        {% csrf_token %}

        <label for="title" class="form-label">Enter the title</label>
        <input type="text" class="form-control is-valid" id="title" name="title">
    
        <label for="title" class="form-label">Summary</label>
        <input type="text" class="form-control is-valid" id="title" name="todo-data">

        <button class="btn btn-primary mt-5" type="submit">Submit</button>
    </form>

</div>



{% else %}
<div class="mt-5">
    <h4>yet another to do list</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, voluptatibus, amet adipisci assumenda doloribus
        recusandae magni illo aliquid error iusto mollitia
        temporibus harum explicabo ipsum? Laudantium adipisci illo ducimus nesciunt!

    </p>
    <p>Seems like you don't have account. <strong><a href="{% url "create-account" %}">Create new Account</a></strong> to make a todo. if you've already <a href="{% url "login" %}">Login Here</a>.</p>
</div>
{% endif %}

{% endblock body_content %}