# Core Framework
Django==5.2.4
asgiref==3.8.1
sqlparse==0.5.3

# UI / Frontend
django-tailwind==4.0.1
django-htmx==1.23.2
django-static-fontawesome==6.5.2.0

# Rich Text Editor
django-ckeditor-5==0.2.18
pillow==11.3.0

# Environment Variables
python-dotenv==1.1.1

# HTTP Requests
requests==2.32.4
urllib3==2.5.0
certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10

# Utilities
python-dateutil==2.9.0.post0
six==1.17.0
